<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Restro | Admin </title>
</head>

<body>
    <div class="container mt-5">
        <%- include('../partials/navbar.ejs') %>
            <h1>Admin page</h1>

            <h2>Manage All Users</h2>
            <div class="container d-flex flex-wrap">
                <% users.forEach(u=> { %>
                    <div class="card card-box m-3">
                        <div class="card-header">
                            <%= u.username %>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Fullname: <%= u.first_name %>
                                    <%= u.last_name %>
                            </li>
                            <li class="list-group-item">Contact: <%= u.contact %>
                            </li>
                            <li class="list-group-item">userID: <%= u.id %>
                            </li>
                            <li class="list-group-item">userRole: <%= u.userRole %>
                            </li>
                        </ul>
                        <div class="container">
                            <!-- <button class="btn btn-primary delete" type="submit" id="<%= u.id %>">Delete
                                user</button> -->
                            <% if (user.userRole==='super' ) { %>
                                <% if (u.userRole!=='super' ) { %>



                                    <% if (u.userRole!=='admin' ) { %>
                                        <button class="btn btn-primary admin" type="submit" id="<%= u.id %>">Make Admin
                                            user</button>
                                        <% } else { %>
                                            <button class="btn btn-primary adminRevoke" type="submit"
                                                id="<%= u.id %>">Remove Admin
                                                user</button>
                                            <% } %>
                                                <% } %>

                                                    <% } %>
                        </div>
                    </div>
                    <% }) %>
            </div>
    </div>

    <%- include('../partials/scripts.ejs') %>
        <script>
            let deleteBtns = document.getElementsByClassName('delete')
            deleteBtns = Array(...deleteBtns)
            deleteBtns.forEach(btn => {
                btn.addEventListener('click', async (e) => {
                    fetch(`/user/${e.target.id}`, { method: 'DELETE' })
                        .then(response => response.json())
                        .then(response => {
                        })
                        .catch(error => {
                            console.error(e)
                        });
                })
            });

            let adminBtns = document.getElementsByClassName('admin')
            adminBtns = Array(...adminBtns)
            adminBtns.forEach(btn => {
                btn.addEventListener('click', async (e) => {
                    fetch(`/admin/${e.target.id}`, { method: 'PATCH' })
                        .then(response => response.json())
                        .then(response => {
                            window.location.reload()
                        })
                        .catch(error => {
                            console.error(e)
                        });
                })
            });

            let adminRevokeBtns = document.getElementsByClassName('adminRevoke')
            adminRevokeBtns = Array(...adminRevokeBtns)
            adminRevokeBtns.forEach(btn => {
                btn.addEventListener('click', async (e) => {
                    fetch(`/admin/${e.target.id}`, { method: 'DELETE' })
                        .then(response => response.json())
                        .then(response => {

                            window.location.reload()
                        })
                        .catch(error => {
                            console.error(e)
                        });
                })
            });

        </script>
</body>

</html>