<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Restro | Admin</title>
        <style>
            #admin-orders{
                height: calc(100vh - 12rem);
            }

        </style>
</head>

<body>
    <div class="container mt-6">
        <%- include('../partials/navbar.ejs') %>
        <%- include('../partials/categories_admin_orders.ejs') %>
            <h1>Manage Orders</h1>
            <div id="admin-orders" class="orders d-flex box-shadow flex-wrap justify-content-center overflow-x-scroll">
                <% orders.forEach(orderArr=> { %>
                    <div class=" box-shadow card-box m-1 d-flex align-items-center flex-column p-3">
                        <div class="d-flex gap-2 justify-content-center flex-column">
                            <h4>
                                order ID: <%= orderArr[0].order_id %> <br>
                                user ID: <%= orderArr[0].customer_id %> <br>
                                table ID: <%= orderArr[0].table_id %> 

                            </h4>
                            <h4>
                                order status: <%= orderArr[0].order_status %>
                            </h4>
                            <div class="btns d-flex flex-column gap-1 m-2">
                                <% if (orderArr[0].order_status==="paid" ) { %>
                                    <% } else if (orderArr[0].order_status==="billed" ) { %>
                                        <button class="btn btn-sm btn-success markBill disabled" type="submit"
                                            id="<%= orderArr[0].order_id%>">Bill order</button>
                                        <button class="btn btn-sm btn-danger markPaid" type="submit"
                                            id="<%= orderArr[0].order_id%>">Mark Paid</button>
                                        <% } else { %>
                                            <% if (orderArr[0].order_status==="cooking" ) { %>
                                                <button class="btn btn-sm btn-success markCooking" type="submit"
                                                    id="<%= orderArr[0].order_id%>">Mark
                                                    order cooking</button>

                                                <% } else { %>

                                                    <button class="btn btn-sm btn-primary markCooking" type="submit"
                                                        id="<%= orderArr[0].order_id%>">Mark
                                                        order cooking</button>
                                                    <% } %>

                                                        <% if (orderArr[0].order_status==="served" ) { %>
                                                            <button class="btn btn-sm btn-success markServed"
                                                                type="submit" id="<%= orderArr[0].order_id%>">Mark
                                                                order served</button>

                                                            <% } else { %>

                                                                <button class="btn btn-sm btn-primary markServed"
                                                                    type="submit" id="<%= orderArr[0].order_id%>">Mark
                                                                    order served</button>
                                                                <% } %>
                                                                    <button class="btn btn-sm btn-danger markBill"
                                                                        type="submit"
                                                                        id="<%= orderArr[0].order_id%>">Bill
                                                                        order</button>
                                                                    <% } %>




                            </div>
                        </div>

                        <div class="d-flex flex-column w-100">

                            <% orderArr.forEach(item=> { %>
                                <div class="card ">
                                    <div class="card-header">
                                        <h6>Item: <%= item.item_name %></h6>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Qty: <%= item.qty%>
                                    </ul>

                                </div>
                                <% }) %>
                                
                                    <div class="card">
                                        <div class="card-header">
                                            <h6>Special instructions:</h6>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <%= orderArr[0].extra_instructions %>
                                        </ul>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h6>Total Amount:</h6>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <b> ₹ <%= orderArr[0].total_amount %> </b>
                                        </ul>
                                    </div>

                        </div>

                    </div>

                    <% }) %>
            </div>
    </div>

    <%- include('../partials/scripts.ejs') %>
        <script>
            const servedBtns = Array(...document.getElementsByClassName('markServed'))
            servedBtns.forEach(btn => {
                btn.addEventListener('click', async (e) => {
                    const element = e.target
                    const orderId = element.id
                    const cookingBtn = document.querySelectorAll(`button[id="${orderId}"]`)[0]

                    if (element.classList.contains('btn-primary')) {

                        await fetch(`/order/served/${orderId}`, {
                            method: "PATCH"
                        })
                            .then(response => response.json())
                            .then(response => {
                                console.log(response)
                                element.classList.remove('btn-primary')
                                element.classList.add('btn-success')
                                cookingBtn.classList.add('btn-primary')
                                cookingBtn.classList.remove('btn-success')
                            })
                            .catch(error => {
                                console.error(e)
                            });

                    }
                    else {

                        await fetch(`/order/placed/${orderId}`, {
                            method: "PATCH"
                        })
                            .then(response => response.json())
                            .then(response => {
                                console.log(response)
                                element.classList.add('btn-primary')
                                element.classList.remove('btn-success')

                            })
                            .catch(error => {
                                console.error(e)
                            });

                    }

                })
            });
            const cookingBtns = Array(...document.getElementsByClassName('markCooking'))
            cookingBtns.forEach(btn => {
                btn.addEventListener('click', async (e) => {
                    const element = e.target
                    const orderId = element.id

                    const servedBtn = document.querySelectorAll(`button[id="${orderId}"]`)[1]

                    if (element.classList.contains('btn-primary')) {

                        await fetch(`/order/cooking/${orderId}`, {
                            method: "PATCH"
                        })
                            .then(response => response.json())
                            .then(response => {
                                console.log(response)
                                element.classList.remove('btn-primary')
                                element.classList.add('btn-success')
                                servedBtn.classList.add('btn-primary')
                                servedBtn.classList.remove('btn-success')
                            })
                            .catch(error => {
                                console.error(e)
                            });

                    }
                    else {

                        await fetch(`/order/placed/${orderId}`, {
                            method: "PATCH"
                        })
                            .then(response => response.json())
                            .then(response => {
                                console.log(response)
                                element.classList.add('btn-primary')
                                element.classList.remove('btn-success')
                            })
                            .catch(error => {
                                console.error(e)
                            });

                    }

                })
            });
            const billBtns = Array(...document.getElementsByClassName('markBill'))
            billBtns.forEach(btn => {
                btn.addEventListener('click', async (e) => {
                    const element = e.target
                    const orderId = element.id

                    const cookingBtn = document.querySelectorAll(`button[id="${orderId}"]`)[0]
                    const servedBtn = document.querySelectorAll(`button[id="${orderId}"]`)[1]

                    await fetch(`/order/bill/${orderId}`, {
                        method: "PATCH"
                    })
                        .then(response => response.json())
                        .then(response => {
                            console.log(response)
                            element.classList.add('btn-success')
                            element.classList.remove('btn-danger')
                            cookingBtn.classList.add('btn-primary')
                            cookingBtn.classList.remove('btn-success')
                            servedBtn.classList.add('btn-primary')
                            servedBtn.classList.remove('btn-success')
                        })
                        .catch(error => {
                            console.error(e)
                        });




                })
            });
            const paidBtns = Array(...document.getElementsByClassName('markPaid'))
            paidBtns.forEach(btn => {
                btn.addEventListener('click', async (e) => {
                    const element = e.target
                    const orderId = element.id

                    if (element.classList.contains('btn-danger')) {
                        await fetch(`/order/paid/${orderId}`, {
                            method: "PATCH"
                        })
                            .then(response => response.json())
                            .then(response => {
                                console.log(response)
                                element.classList.add('btn-success')
                                element.classList.remove('btn-danger')
                            })
                            .catch(error => {
                                console.error(e)
                            });
                    }else{
                        await fetch(`/order/bill/${orderId}`, {
                            method: "PATCH"
                        })
                            .then(response => response.json())
                            .then(response => {
                                console.log(response)
                                element.classList.add('btn-danger')
                                element.classList.remove('btn-success')
                            })
                            .catch(error => {
                                console.error(e)
                            });
                    }





                })
            });



        </script>
</body>

</html>