<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Restro | Admin</title>
        <style>
            .card-custom {
                border: 1px solid grey;
                border-radius: 8px;
                margin: 1rem;
            }
        </style>
</head>

<body>
    <div class="container mt-5">
        <%- include('../partials/navbar.ejs') %>
            <h1>User Orders</h1>
            <div class="orders d-flex">
                <% orders.forEach(orderArr=> { %>
                    <div class="card-custom container-fluid d-flex flex-column">
                        <div class="container d-flex gap-2 justify-content-center flex-column">
                            <h4>
                                order ID: <%= orderArr[0].order_id %> <br>
                                table ID: <%= orderArr[0].table_id %>
                            </h4>
                            <h4>
                                order status: <%= orderArr[0].order_status %>

                                    <% if (orderArr[0].order_status==='billed' ) { %>
                                        <h3>Please ask admin for Bill</h3>
                                        <% } %>
                                    <% if (orderArr[0].order_status==='paid' ) { %>
                                        <h3>Bill Paid. Thanks for ordering with us!</h3>
                                        <p>Please visit us again!   </p>
                                        <% } %>
                            </h4>
                        </div>

                        <div class="container d-flex flex-column">

                            <% orderArr.forEach(item=> { %>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-header">
                                        Item: <%= item.item_name %>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Qty: <%= item.qty%>
                                    </ul>

                                </div>
                                <% }) %>
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-header">
                                            Special instructions:
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <%= orderArr[0].extra_instructions %>
                                        </ul>
                                    </div>
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-header">
                                            Total Amount:
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                ₹ <%= orderArr[0].total_amount %>
                                        </ul>
                                    </div>

                        </div>

                    </div>

                    <% }) %>
            </div>
    </div>

    <%- include('../partials/scripts.ejs') %>

</body>

</html>